body {
  font-family: Arial, sans-serif;
  background: #f6f7fb;
  margin: 0;
  padding: 40px 16px;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
}

.search-form-input {
  background-color: #f6f7fb;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
  box-shadow: 0 5px 10px rgba(65, 50, 100, 0.08);
}

.search-form-button {
  background-color: #4999e9;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  box-shadow: 0 5px 10px rgba(65, 50, 100, 0.08);
}

.current-weather h1 {
  margin-bottom: 5px;
}

.weather-temperature-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.weather-details {
  margin-top: 8px;
}

.weather-extra {
  display: flex;
  gap: 5px;
  font-size: 14px;
  margin-top: 6px;
}

.weather-extra span {
  color: #555;
}

#icon img {
  height: 44px;
  width: 44px;
}

.weather-temperature {
  display: flex;
  align-items: flex-start;
}

.weather-value {
  font-size: 36px;
  font-weight: 600;
}

.weather-unit {
  font-size: 18px;
  margin-top: 6px;
  opacity: 0.7;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.weather-forecast-date {
  text-align: center;
  color: #555;
  font-size: 14px;
  line-height: 25px;
}

.weather-forecast-icon {
  font-size: 20px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  line-height: 30px;
  color: #555;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 5px;
}
.weather-footer {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  opacity: 0.7;
}
