body {
  font-family: Arial, sans-serif;
  background: #f6f7fb;
  margin: 0;
  padding: 40px 16px;
  min-height: 100vh;
  transition: background 0.8s ease;
}
.weather-app {
  background: white;
  max-width: 600px;
  Width: 100%
  margin: 30px auto;
  padding: 35px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
}

.search-form {
  display: flex;
  gap: 0px;
  margin: 20px auto;
  width: 100%;
  box-shadow: 0 5px 10px rgba(65, 50, 100, 0.08);
}

.search-form-input {
  flex: 1;
  padding: 12px 14px;
  border-radius: 8px 0 0 8px;
  border: none;
  background: #f6f7fb;
  font-size: 16px;
}

.search-form-input::placeholder {
  color: #999;
}

.search-form-button {
  background: #4a90e2;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 0 8px 8px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(65, 50, 100, 0.08);
}

.search-form-button:hover {
  background: #357ac8;
}

.current-weather {
  background: #f6f7fb;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 5px 10px rgba(65, 50, 100, 0.08);
}
.current-weather h1 {
  margin-bottom: 5px;
}

.weather-temperature-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weather-details {
  margin-top: 8px;
}

.weather-extra {
  display: flex;
  gap: 5px;
  font-size: 14px;
  margin-top: 6px;
}

.weather-extra span {
  color: #555;
}

#icon img {
  height: 48px;
  width: 48px;
}

.weather-temperature {
  display: flex;
  align-items: flex-start;
}

.weather-value {
  font-size: 48px;
  font-weight: 600;
}

.weather-unit {
  font-size: 18px;
  margin-top: 6px;
  opacity: 0.7;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 10px;
}

.weather-forecast-day {
  background: #f6f7fb;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  transition: transform 0.4s ease;
  box-shadow: 0 5px 10px rgba(65, 50, 100, 0.08);
}

.weather-forecast-day:hover {
  transform: translateY(-3px);
}
.weather-forecast-date {
  text-align: center;
  color: #555;
  font-size: 14px;
  line-height: 25px;
}

.weather-forecast-icon {
  width: 52px;
  height: 48px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  line-height: 30px;
  color: #555;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 5px;
}
.weather-footer {
  text-align: center;
  font-size: 13px;
  margin-top: 28px;
  color: #777;
}

.weather-footer a {
  color: #357ac8;
  text-decoration: none;
}

.weather-footer a:hover {
  text-decoration: underline;
}
